@import '../../theme/palette.scss';
@import '../../theme/breakpoints.scss';

.scheduler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 4%;
  user-select: none;
  min-height: 100vh;

  @media (max-width: 840px) {
    padding: 7px;
  }
}

.main {
  width: 100%;
  max-width: 950px;
  height: 100%;
  padding: 50px 85px;
  background-color: var(--paletteColor4);
  border-radius: 10px;
  box-shadow: 6px 6px 14px var(--rgbaColor2);

  @media (max-width: 840px) {
    padding: 7px;
  }
}


.tasksSection {
  margin-bottom: 31px;

  @media (max-width: 840px) {
    margin-bottom: 31px;
  }
}


input {
  -webkit-appearance: none; /* ← Этот хак нужен сафари для работы (проблема со свойством height)... */
  height: 42px;
  padding: 0 14px;
  caret-color: var(--paletteColor3);
  border-radius: 5px;
  border: 1px solid var(--paletteColor6);
  outline: none;
  transition: border-color 0.1s ease-in-out;
  background-color: var(--paletteColor2);
  font-size: 20px;
  text-overflow: ellipsis;

  &::placeholder {
    font-size: 20px;
    transition: color 0.1s ease-in-out;
    color: var(--paletteColor6);
  }

  &:focus {
    border-color: var(--paletteColor3);

    &::placeholder {
      color: transparent;
    }
  }
}