.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  @media (max-width: 840px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.pageTitle {
  font-size: 32px;
  font-weight: 700;
  color: var(--paletteColor5);

  @media (max-width: 840px) {
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
  }

  @media (max-width: 380px) {
    font-size: 28px;
  }
}

.filterTask {
  width: 215px;
  height: 42px !important;
  background-image: url('../../theme/assets/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% 50%;

  @media (max-width: 840px) {
    width: 100%;
  }
}