.form {
  display: flex;
  justify-content: space-between;
  margin: 0 0 13px;

  @media (max-width: 840px) {
    display: flex;
    flex-direction: column;
    margin: 0 0 13px;
  }
}

.addTask {
  width: 100%;
  margin-right: 22px;

  @media (max-width: 840px) {
    width: 100%;
    margin-bottom: 12px;
  }
}

.submitBtn {
  min-width: 215px;
  height: 42px;
  border-radius: 5px;
  background-color: var(--paletteColor3);
  font-size: 18px;
  padding-left: 25px;
  color: var(--paletteColor2);
  border: 0;
  cursor: pointer;
  background-image: url('../../theme/images/plus-icon.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 6% 50%;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--paletteColor11);
  }

  @media (max-width: 840px) {
    margin-bottom: 12px;
  }
}

.plusIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}