.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 840px) {
    margin-bottom: 14px;
  }

  & div {
    margin: 0 20px;
    cursor: pointer;
  }
}

.completeAllTasks {
  font-size: 20px;
  color: var(--paletteColor7);

  @media (max-width: 840px) {
    font-size: 18px;
  }
}